<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <br>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.hidden_field :task_id, id: :sub_task_task_id %>
  <%= link_to_remove_association "remove sub_task", f, class: "btn btn-danger float-right mb-2" %>
</div>
