<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Whiz Finance Tasks</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item active">Tasks</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= search_form_for [:admin, @q] do |f| %>
            <div class="row">
              <div class="col-md-9">
              <%= f.search_field :title_or_description_or_status_cont, placeholder: "Search (title, description, status)", class: "form-control form-control-line" %>
              </div>
              <div class="col-md-3">
                <%= f.submit 'Search', value: 'Search', class: 'btn btn-block btn-outline-info' %>
              </div>
            </div>
          <% end %>
        </h4>
        <div class='search-form'>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Tasks Database
        </h4>
        <h6 class="card-subtitle">
          <%= link_to 'Add Task', new_admin_task_path, class: 'btn btn-outline-primary' %>
        </h6>
        <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="stack">
          <thead>
            <tr>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Title</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Description</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Status</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task|%>
              <tr>
                <td class="title"><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= task.status %></td>
                <td>
                  <!-- change to rails button or link -->
                  <%= link_to admin_task_path(task), class: 'btn btn-outline-success waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-eye"></i> Show
                  <% end %>
                  <%= link_to edit_admin_task_path(task), class: 'btn btn-outline-primary waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-edit"></i> Edit
                  <% end %>
                  <%= link_to admin_task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-remove"></i> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @tasks.present? %>
          <%= paginate @tasks %>
        <% end %>
      </div>
    </div>
  </div>
</div>
