<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Whiz Finance Users</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item active">Users</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= search_form_for [:admin, @q] do |f| %>
            <div class="row">
              <div class="col-md-9">
              <%= f.search_field :first_name_or_last_name_or_contact_or_role_or_email_cont, placeholder: "Search (first_name, last_name, contact, role, email)", class: "form-control form-control-line" %>
              </div>
              <div class="col-md-3">
                <%= f.submit 'Search', value: 'Search', class: 'btn btn-block btn-outline-info' %>
              </div>
            </div>
          <% end %>
        </h4>
        <div class='search-form'>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Users Database
        </h4>
        <h6 class="card-subtitle">
          <%= link_to 'Add User', new_admin_user_path, class: 'btn btn-outline-primary' %>
        </h6>
        <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="stack">
          <thead>
            <tr>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">First Name</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Last Name</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Contact</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Email</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Role</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user|%>
              <tr>
                <td class="title"><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.contact %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td>
                  <!-- change to rails button or link -->
                  <%= link_to admin_user_path(user), class: 'btn btn-outline-success waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-eye"></i> Show
                  <% end %>
                  <%= link_to edit_admin_user_path(user), class: 'btn btn-outline-primary waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-edit"></i> Edit
                  <% end %>
                  <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger waves-effect waves-light btn-xs' do %>
                    <i class="fa fa-remove"></i> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @users.present? %>
          <%= paginate @users %>
        <% end %>
      </div>
    </div>
  </div>
</div>
